.val
{
    height: 300px;
    width: 150px;
}
.cim
{
    font-size: 20px;
}
.nemkoz
{
    text-align: left;
}

.card {
    border: 2px solid transparent;
    transition: border-color 0.5s ease;
    background-image: linear-gradient(to top left, rgb(144, 93, 211), rgb(46, 41, 95));;
    border: 5px solid violet;
    box-shadow: 0px 2px 2px 2px white;
}

  
  .card:hover {
    border-image: linear-gradient(to right, #5c51f7, #0b0464);
    border-image-slice: 1;
    background-image: linear-gradient(to top left, rgb(194, 163, 235), rgb(81, 72, 165));;
    box-shadow: 0px 6px 6px 6px white;
    opacity: 80%;
  }
.text-center
{
    text-align: center;
}
.modal-body
{
    background-image: linear-gradient(to bottom right, rgb(38, 8, 78), rgb(108, 101, 185));;
}
.modal-header
{
    background-image: linear-gradient(to top left, rgb(38, 8, 78), rgb(108, 101, 185));;
}

#start
{
    background-image: linear-gradient(to top left, rgb(38, 8, 78), rgb(108, 101, 185));;
    border: none;
}

#start:hover
{
    background-image: linear-gradient(to top left, rgb(194, 163, 235), rgb(81, 72, 165));;
    box-shadow: 0px 6px 6px 6px white;
    opacity: 80%;
}

