body
{
  background-image: url("abstract-colorful-gradient-animation-background-free-video.jpg");
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 24px;
  display:flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar
{
  height: 80px;
  background-color: rgb(248, 217, 159);
  border: 5px solid rgb(10, 30, 56);
  border-radius: 10px;
}

.cim
{
    text-align: center;
    font-size: 80px;
}

.kep
{
    max-height: 300px;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    opacity: 80%;
    color: blue;
}
.visszanyil
{
    height: 50px;
}

.visszanyil:hover
{
    opacity: 75%;
}
